{{> header}}
<section class="blogs" id="blogs">
    <h1 class="heading">Our <span>Blogs</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="image/blog-1.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="# "><i class="fas fa-user"></i>by user</a>
                    <a href="# "><i class="fas fa-calender"></i>2nd feb,2023</a>
                </div>
            </div>
            <h3>Fresh and organic Vegitables and fruits</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nihil.</p>
            <a href="#" class="btn">read more</a>
        </div>
        <div class="box">
            <img src="image/blog-2.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="# "><i class="fas fa-user"></i>by user</a>
                    <a href="# "><i class="fas fa-calender"></i>2nd feb,2023</a>
                </div>
            </div>
            <h3>Fresh and organic Vegitables and fruits</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nihil.</p>
            <a href="#" class="btn">read more</a>
        </div>
        <div class="box">
            <img src="image/blog-3.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="# "><i class="fas fa-user"></i>by user</a>
                    <a href="# "><i class="fas fa-calender"></i>2nd feb,2023</a>
                </div>
            </div>
            <h3>Fresh and organic Vegitables and fruits</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nihil.</p>
            <a href="#" class="btn">read more</a>
        </div>
    </div>
</section>
{{> footer}}