{{> header}}
<!--Categories section starts-->

<section class="categories" id="categories">
<h1 class="heading">Product<span>Catergories</span></h1>
<div class="swipper box-container slider">

    <div class="box">
        <img src="image/cat-1.png" alt="">
        <h3>Vegitables</h3>
        <p>upto 45% off</p>
        <a href="#" class="btn">Shop now</a>
    </div>
    <div class="box">
        <img src="image/cat-2.png" alt="">
        <h3>Fresh fruits</h3>
        <p>upto 50% off</p>
        <a href="#" class="btn">Shop now</a>
    </div>
    <div class="box">
        <img src="image/cat-3.png" alt="">
        <h3>Dairy Products</h3>
        <p>upto 25% off</p>
        <a href="#" class="btn">Shop now</a>
    </div>
    <div class="box">
        <img src="image/cat-4.png" alt="">
        <h3>Fresh Meat</h3>
        <p>upto 20% off</p>
        <a href="#" class="btn">Shop now</a>
    </div>
    
</div>
</section>
<!--Categories section ends-->
{{> footer}}