{{> header}}
<section  class="features" id="features">
    <h1 class="heading">Our<span>Features</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="image/feature-img-1.png" alt="">
            <h3 >Fresh And Organic</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet blanditiis sunt beatae voluptatibus minima
                quos eaque eius a distinctio consectetur facilis, sequi officiis ipsum accusantium obcaecati numquam
                corporis debitis! Optio!</p>
            <p id="readmore" class="readmore">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, id!lorem10
            </p>
            <a class="btn" id="btn">Read-more</a>
        </div>
        <div class="box">
            <img src="image/feature-img-2.png" alt="">
            <h3>Free home delivery</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit enim facilis, eum omnis numquam aut
                accusantium ullam dolore eius eligendi, ab possimus provident voluptatem! Iusto accusamus minus officiis
                quisquam culpa?</p>
            <p id="readmore" class="readmore">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, id!lorem10
            </p>
            <a class="btn" id="btn">Read-more</a>
        </div>
        <div class="box">
            <img src="image/feature-img-3.png" alt="">
            <h3>Easy payment option</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem porro aliquam esse amet
                incidunt nobis qui, quae natus voluptatem? Reprehenderit totam pariatur quisquam a autem voluptas provident
                possimus temporibus.</p>
            <p id="readmore" class="readmore">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, id!lorem10
            </p>
            <a class="btn" id="btn">Read-more</a>
        </div>

    </div>
</section>
{{> footer}}