{{> header}}
{{!-- <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 pt-2 mb-lg-0">
        <li class="nav-item logo-container">
          <a href="/home" class="logo">GROCO<i class="fas fa-shopping-basket"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/features">Features</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="/products" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/vegetables">vegetables</a></li>
            <li><a class="dropdown-item" href="/groceryitems">Grocery Items</a></li>
            <li><a class="dropdown-item" href="/flours">Flours</a></li>
            <li><a class="dropdown-item" href="/meat">Meat</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/categories">Catergories</a>          
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/review">Review</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" href="/blogs">Blogs</a>
      </li>
      </ul>       
      <form class="d-flex" role="search">
        <input class="form-control me-2 text-info bg-dark" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<section class="home" id="">


    <div class="content">
        <h3>
            fresh and <span>organic</span>products for your
        </h3>
        <p>
            Fresh vegetables and fruits only we are selling.
            Fresh vegetables and fruits only we are selling.
            Fresh vegetables and fruits only we are selling.
            Fresh vegetables and fruits only we are selling.
            Fresh vegetables and fruits only we are selling.             
        </p>
        <div>
            <a align="center" href="#" class="btn">Shop now</a>
        </div>
    </div>
</section>
<!--Home Section ends-->
<!--Feature Section starts-->

<section  class="features" id="features">
    <h1 class="heading">Our<span>Features</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="/image/feature-img-1.png" alt="">
            <h3>Fresh And Organic</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet blanditiis sunt beatae voluptatibus minima quos eaque eius a distinctio consectetur facilis, sequi officiis ipsum accusantium obcaecati numquam corporis debitis! Optio!</p>
                <a href="#" class="btn">Read-more</a>
        </div>
        <div class="box">
                <img src="/image/feature-img-2.png" alt="">
                <h3>Free home delivery</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit enim facilis, eum omnis numquam aut accusantium ullam dolore eius eligendi, ab possimus provident voluptatem! Iusto accusamus minus officiis quisquam culpa?</p>
                    <a href="#" class="btn">Read-more</a>
        </div>
        <div class="box">
                    <img src="/image/feature-img-3.png" alt="">
                    <h3>Easy payment option</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem porro aliquam esse amet incidunt nobis qui, quae natus voluptatem? Reprehenderit totam pariatur quisquam a autem voluptas provident possimus temporibus.</p>
                        <a href="#" class="btn">Read-more</a>
        </div>

    </div>
</section> --}}

<!--Feature Section ends-->
<!-- header section starts  -->


<!--Header section Ends-->
<!--Home Section-->
<section class="home" id="">


    <div class="content">
        <h3>
            fresh and <span>organic</span> products for your
        </h3>
        <p>
            Fresh vegetables and fruits only we are selling.
            Fresh vegetables and fruits only we are selling.
            Fresh vegetables and fruits only we are selling.
            Fresh vegetables and fruits only we are selling.
            Fresh vegetables and fruits only we are selling.             
        </p>
        <div>
            <a align="center" href="#" class="btn">Shop now</a>
        </div>
    </div>
</section>
<!--Home Section ends-->
<!--Feature Section starts-->

<section  class="features" id="features">
    <h1 class="heading">Our<span>Features</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="image/feature-img-1.png" alt="">
            <h3>Fresh And Organic</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet blanditiis sunt beatae voluptatibus minima quos eaque eius a distinctio consectetur facilis, sequi officiis ipsum accusantium obcaecati numquam corporis debitis! Optio!</p>
                <a href="" class="btn" id="btn11">Read-more</a>
        </div>
        <div class="box">
                <img src="image/feature-img-2.png" alt="">
                <h3>Free home delivery</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit enim facilis, eum omnis numquam aut accusantium ullam dolore eius eligendi, ab possimus provident voluptatem! Iusto accusamus minus officiis quisquam culpa?</p>
                    <a href="#" class="btn">Read-more</a>
        </div>
        <div class="box">
                    <img src="image/feature-img-3.png" alt="">
                    <h3>Easy payment option</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem porro aliquam esse amet incidunt nobis qui, quae natus voluptatem? Reprehenderit totam pariatur quisquam a autem voluptas provident possimus temporibus.</p>
                        <a href="#" class="btn">Read-more</a>
        </div>

    </div>
</section>

<!--Feature Section ends-->

<!--Product section starts-->

    <section class="products" id="products">
        <h1 class="{{msg_type}}">{{onion}}</h1>
        <h1 class="heading">Our<span>products</span></h1>
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <form action="/auth/orange" method="post">     
                    
                    <img src="image/product-1.png" alt="">
                    <h3>Fresh oranges</h3>
                    <h1>RS :<input type="number" name="orange" class="product" value="60" disabled></h1>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div> 
                    <a><input type="submit" value="BUY" class="btn"></a>
                </div>
</form>
                <div class="swiper-slide box">
                    <form action="/auth/onion" method="post">     
                
                    <img src="image/product-2.png" alt="">
                    <h3>Fresh onion</h3>
                    <h1>RS :<input type="number" name="onion" class="product" value="20" disabled></h1>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                   <input type="submit" value="BUY" class="btn"> 
                </div>
</form>   
                <div class="swiper-slide box">
<form action="/auth/meat" method="post">     
                    
                    <img src="image/product-3.png" alt="">
                    <h3>Fresh Meat</h3>
                    <h1>RS :<input type="number" name="meat" class="product" value="150" disabled></h1>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <input type="submit" value="BUY" class="btn"> 
                </div>
</form>
                    <div class="swiper-slide box">
<form action="/auth/cabbage" method="post">                       
                        <img src="image/product-4.png" alt="">
                        <h3>Fresh Cabbage</h3>
                        <h1>RS :<input type="number" name="cabbage" class="product" value="25" disabled></h1>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                     <input type="submit" value="BUY" class="btn"> 
                    </div>
                </div>
            </div>
        </div>
</form>        
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
<form action="/auth/potato" method="post">     
            
                    <img src="image/product-5.png" alt="">
                    <h3>Fresh Potatos</h3>
                    <div class="price">Rs.<span id="product5">30</span>/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                     <input type="submit" value="BUY" class="btn"> 
                </div>
</form>
                <div class="swiper-slide box">
<form action="/auth/avacado" method="post">     
      
                    <img src="image/product-6.png" alt="">
                    <h3>Fresh Avocado</h3>
                    <div class="price">Rs.<span id="product6">30</span>/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                        <input type="submit" value="BUY" class="btn"> 
                </div>
</form>
                <div class="swiper-slide box">
<form action="/auth/carrot" method="post">     

                    <img src="image/product-7.png" alt="">
                    <h3>Fresh carrot</h3>
                    <div class="price">Rs.<span id="product7">30</span>/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                        <input type="submit" value="BUY" class="btn"> 
                </div>   
</form>
                    <div class="swiper-slide box">
<form action="/auth/lemon" method="post">     

                        <img src="image/product-8.png" alt="">
                        <h3>Green lemon</h3>
                        <div class="price">Rs.<span id="product8">30</span>/-</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <input type="submit" value="BUY" class="btn"> 
                    </div> 
</form>

                </div>
            </div>
        </div>
    </section>












    {{!-- <section class="products" id="products">
        <h1 class="heading">Our<span>products</span></h1>
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="image/product-1.png" alt="">
                    <h3>Fresh oranges</h3>
                    <div class="price">Rs.30/--45/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">BUY</a>
                </div>
                <div class="swiper-slide box">
                    <img src="image/product-2.png" alt="">
                    <h3>Fresh onion</h3>
                    <div class="price">Rs.50/--60/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">BUY</a>
                </div>
                <div class="swiper-slide box">
                    <img src="image/product-3.png" alt="">
                    <h3>Fresh Meat</h3>
                    <div class="price">Rs.150/--185/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">BUY</a>
                     
                </div>
                    <div class="swiper-slide box">
                        <img src="image/product-4.png" alt="">
                        <h3>Fresh Cabbage</h3>
                        <div class="price">Rs.150/--185/-</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                   <a href="#" class="btn">BUY</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="image/product-5.png" alt="">
                    <h3>Fresh Potatos</h3>
                    <div class="price">Rs.30/--45/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">BUY</a>
                </div>
                <div class="swiper-slide box">
                    <img src="image/product-6.png" alt="">
                    <h3>Fresh Avocado</h3>
                    <div class="price">Rs.50/--60/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                   <a href="#" class="btn">BUY</a>
                </div>
                <div class="swiper-slide box">
                    <img src="image/product-7.png" alt="">
                    <h3>Fresh carrot</h3>
                    <div class="price">Rs.150/--185/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="#" class="btn">BUY</a>
                </div>    
                    <div class="swiper-slide box">
                        <img src="image/product-8.png" alt="">
                        <h3>Green lemon</h3>
                        <div class="price">Rs.150/--185/-</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    <a href="#" class="btn">BUY</a>
                    </div> 
                </div>
            </div>
        </div>
    </section> --}}


<!--Product section Ends-->

<!--Categories section starts-->

<section class="categories" id="categories">
<h1 class="heading">Product<span>Catergories</span></h1>
<div class="swipper box-container slider">

    <div class="box">
        <img src="image/cat-1.png" alt="">
        <h3>Vegitables</h3>
        <p>upto 45% off</p>
        <a href="#" class="btn">Shop now</a>
    </div>
    <div class="box">
        <img src="image/cat-2.png" alt="">
        <h3>Fresh fruits</h3>
        <p>upto 50% off</p>
        <a href="#" class="btn">Shop now</a>
    </div>
    <div class="box">
        <img src="image/cat-3.png" alt="">
        <h3>Dairy Products</h3>
        <p>upto 25% off</p>
        <a href="#" class="btn">Shop now</a>
    </div>
    <div class="box">
        <img src="image/cat-4.png" alt="">
        <h3>Fresh Meat</h3>
        <p>upto 20% off</p>
        <a href="#" class="btn">Shop now</a>
    </div>
</div>
</section>
<!--Categories section ends-->
<!--Review section starts-->

<section class="review" id="review">
    <h1 class="heading">Customer's<span>Review</span></h1>
    <div class="swiper review-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="image/pic-1.png" alt="">
                <p>Good Shop</p>
                <h3>Rocky</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="swiper-slide box">
                <img src="image/pic-2.png" alt="">
                <p>Good one</p>
                <h3>Johncy </h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-3.png" alt="">
                <p>Must visit</p>
                <h3>Vikram</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="swiper-slide box">
                <a href="https://www.jiomart.com/p/groceries/watermelon-kiran-1-pc/590041413" target="_blank">
                <img src="image/pic-4.png" alt=""></a>
                <p>Fresh Products</p>
                <h3>Divya</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
       </div>
    </div>
</section>

<!--Review section Ends-->
<!-- Blogs Section starts-->
<section class="blogs" id="blogs">
    <h1 class="heading">Our <span>Blogs</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="image/blog-1.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="# "><i class="fas fa-user"></i>by user</a>
                    <a href="# "><i class="fas fa-calender"></i>2nd feb,2023</a>
                </div>
            </div>
            <h3>Fresh and organic Vegitables and fruits</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nihil.</p>
            <a href="#" class="btn">read more</a>
        </div>
        <div class="box">
            <img src="image/blog-2.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="# "><i class="fas fa-user"></i>by user</a>
                    <a href="# "><i class="fas fa-calender"></i>2nd feb,2023</a>
                </div>
            </div>
            <h3>Fresh and organic Vegitables and fruits</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nihil.</p>
            <a href="#" class="btn">read more</a>
        </div>
        <div class="box">
            <img src="image/blog-3.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="# "><i class="fas fa-user"></i>by user</a>
                    <a href="# "><i class="fas fa-calender"></i>2nd feb,2023</a>
                </div>
            </div>
            <h3>Fresh and organic Vegitables and fruits</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nihil.</p>
            <a href="#" class="btn">read more</a>
        </div>
    </div>
</section>
<!-- Blogs Section ends-->
{{>footer}}