{{> header}}
<!--Product section starts-->
    <section class="products" id="products">
        <h1 class="{{msg_type}}">{{onion}}</h1>
        <h1 class="heading">Our<span>products</span></h1>
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
<form action="/auth/orange" method="post">     
                    
                    <img src="image/product-1.png" alt="">
                    <h3>Fresh oranges</h3>
                    <h1>RS :<input type="number" name="orange" class="product" value="60" disabled></h1>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div> 
                    <a><input type="submit" value="BUY" class="btn"></a>
                    </div>
</form>
{{!-- <form action="/auth/onion" method="post">                 --}}
                <div class="swiper-slide box">
<form action="/auth/onion" method="post">     
                
                    <img src="image/product-2.png" alt="">
                    <h3>Fresh onion</h3>
                    <h1>RS :<input type="number" name="onion" class="product" value="20" disabled></h1>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                   <input type="submit" value="BUY" class="btn"> 
                </div>
</form>       
{{!-- <form action="/auth/onion" method="post">              --}}
                <div class="swiper-slide box">
<form action="/auth/meat" method="post">     
                    
                    <img src="image/product-3.png" alt="">
                    <h3>Fresh Meat</h3>
                    <h1>RS :<input type="number" name="meat" class="product" value="150" disabled></h1>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <input type="submit" value="BUY" class="btn"> 
                </div>
</form>
{{!-- <form action="/auth/onion" method="post">                     --}}
                    <div class="swiper-slide box">
<form action="/auth/cabbage" method="post">     
                  
                        <img src="image/product-4.png" alt="">
                        <h3>Fresh Cabbage</h3>
                        <h1>RS :<input type="number" name="cabbage" class="product" value="25" disabled></h1>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                     <input type="submit" value="BUY" class="btn"> 
                    </div>
                </div>
            </div>
        </div>
</form>        
{{!-- <form action="/auth/onion" method="post">     --}}

        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
<form action="/auth/potato" method="post">     
            
                    <img src="image/product-5.png" alt="">
                    <h3>Fresh Potatos</h3>
                    <div class="price">Rs.<span id="product5">30</span>/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                     <input type="submit" value="BUY" class="btn"> 
                </div>
</form>
{{!-- <form action="/auth/onion" method="post">     --}}
                <div class="swiper-slide box">
<form action="/auth/avacado" method="post">     
      
                    <img src="image/product-6.png" alt="">
                    <h3>Fresh Avocado</h3>
                    <div class="price">Rs.<span id="product6">30</span>/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                        <input type="submit" value="BUY" class="btn"> 
                </div>
</form>
{{!-- <form action="/auth/onion" method="post">     --}}
                <div class="swiper-slide box">
<form action="/auth/carrot" method="post">     

                    <img src="image/product-7.png" alt="">
                    <h3>Fresh carrot</h3>
                    <div class="price">Rs.<span id="product7">30</span>/-</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                        <input type="submit" value="BUY" class="btn"> 
                </div>   
</form>
{{!-- <form action="/auth/onion" method="post">      --}}
                    <div class="swiper-slide box">
<form action="/auth/lemon" method="post">     

                        <img src="image/product-8.png" alt="">
                        <h3>Green lemon</h3>
                        <div class="price">Rs.<span id="product8">30</span>/-</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <input type="submit" value="BUY" class="btn"> 
                    </div> 
</form>

                </div>
            </div>
        </div>
    </section>

    {{>footer}}