{{> header}}
<div class="profile-container">
    <div class="profile-wrap">
        <h1>NAME :</h1>
        <h1 class="profile">{{data.name}}</h1>
    </div>
    
    <div class="profile-wrap">
        <h1>EMAIL :</h1>
        <h1 class="profile">{{data.email}}</h1>
    </div>
</div>
{{> footer}}